/* Root colors for consistency */
:root {
  --primary-color: #4CAF50;
  --primary-hover: #409643;
  --secondary-hover: #EAFBEA;
  --text-color: #333;
  --background-color: #f9f9f9;
  --border-color: #ddd;
  --solid-border-color: #696969;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    background-color: var(--background-color);
}

h1 {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: bold;
}

/* Tables */
table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.3);
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: var(--primary-color);
  color: white;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
}

tbody tr:hover {
  background-color: var(--secondary-hover);
}

tr:last-child td {
  border-bottom: none;
}

.placeholder-row td {
  background: transparent;
  border: none;
  height: 50px;
}

/* Buttons */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 30px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 8px rgb(0 123 255 / 0.6);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 4px 12px rgb(0 86 179 / 0.8);
}


/* Responsive adjustments */
@media (max-width: 768px) {
  #wishlist_products_id tbody, 
    #wishlist_products_id tr, 
    #wishlist_products_id td {
        display: block;
        width: 100%;
    }

    #wishlist_products_id td {
        padding: 8px 0;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }

    #wishlist_products_id td:last-child {
        border-bottom: none;
    }
  
  th, button{
    font-size: 13px;
  }
  
  button {
    padding: 6px 10px;
  }
  
  #result_id td, #result_id th {
    padding: 5px 9px;
    text-align: left;
    font-size: 13px;
  }
}